<form action="/login" method="POST">

Login form

<ul>
  <label for="name">Name</label>
  <input type="text" name="name">
</ul>

<ul>
  <label for="email">Email</label>
  <input type="email" name="email">
</ul>

<ul>
  <label for="password">Password</label>
  <input type="password" name="password">
</ul>

<button type="submit">Login</button>

</form>